*{
    margin: 0;
    padding: 0;
    text-align: center;
}
 body{
    background-color: rgb(255, 118, 141);
 }
h1{
    background-color: cornflowerblue;
    /* margin: 3vh; */
    padding: 2vh;
    font-size:5vh;
    border-bottom: 5px solid white;

}
.choice:hover{
    cursor:pointer;
    
    opacity: 0.5;
   
}

.choice{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
img{
    height: 150px;
   width: 150px;
   object-fit: cover;
   border-radius: 50%;
   
}
.choices{
      display:flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 5rem;
    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
} 
#user-score,#comp-score{
    font-size: 4rem;
    
}

 


.msg{
    
    font-size: 2rem;
    background-color: rgb(0, 0, 117);
    color: white;
    display: inline;
    border-radius: 10px;
    padding:1rem;
     
    } 